# DataFrame

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randn(4, 3)

In [4]:
data

array([[ 0.19953183,  1.28024847,  1.33473173],
       [-0.77286805,  0.65425204,  0.89135969],
       [ 0.12673786, -0.35037263, -1.37366641],
       [ 0.15793653,  0.73490566, -1.86696246]])

In [5]:
dataFrame = pd.DataFrame(data)

In [6]:
dataFrame

          0         1         2
0  0.199532  1.280248  1.334732
1 -0.772868  0.654252  0.891360
2  0.126738 -0.350373 -1.373666
3  0.157937  0.734906 -1.866962

In [7]:
dataFrame[0]

0    0.199532
1   -0.772868
2    0.126738
3    0.157937
Name: 0, dtype: float64

In [8]:
type(dataFrame[0])

pandas.core.series.Series

In [9]:
newDataFrame = pd.DataFrame(data, index =["a", "b", "c", "d"], columns = ["abc", "def", "hgı"])

In [10]:
newDataFrame

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [11]:
newDataFrame["def"]

a    1.280248
b    0.654252
c   -0.350373
d    0.734906
Name: def, dtype: float64

In [12]:
newDataFrame["hgı"]

a    1.334732
b    0.891360
c   -1.373666
d   -1.866962
Name: hgı, dtype: float64

In [13]:
newDataFrame["abc"]

a    0.199532
b   -0.772868
c    0.126738
d    0.157937
Name: abc, dtype: float64

In [14]:
newDataFrame[["abc", "def"]]

        abc       def
a  0.199532  1.280248
b -0.772868  0.654252
c  0.126738 -0.350373
d  0.157937  0.734906

In [16]:
newDataFrame.loc["a"]    #row ismini baz alarak cagırı .loc['row_name']

abc    0.199532
def    1.280248
hgı    1.334732
Name: a, dtype: float64

In [17]:
newDataFrame.iloc[0]    #index numarasını baz alarar cagırır .iloc[index_num]

abc    0.199532
def    1.280248
hgı    1.334732
Name: a, dtype: float64

# DataFrame Indexler

In [18]:
newDataFrame

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

# Add New Column

In [19]:
newDataFrame["klm"] = [15, 23, 45, 12]

In [20]:
newDataFrame

        abc       def       hgı  klm
a  0.199532  1.280248  1.334732   15
b -0.772868  0.654252  0.891360   23
c  0.126738 -0.350373 -1.373666   45
d  0.157937  0.734906 -1.866962   12

In [21]:
newDataFrame["klm"] = newDataFrame["def"] + newDataFrame["def"]

In [22]:
newDataFrame

        abc       def       hgı       klm
a  0.199532  1.280248  1.334732  2.560497
b -0.772868  0.654252  0.891360  1.308504
c  0.126738 -0.350373 -1.373666 -0.700745
d  0.157937  0.734906 -1.866962  1.469811

# Delete Column

In [23]:
newDataFrame.drop("klm", axis = 1)   #axis = 0 row, axis = 1 column

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [24]:
newDataFrame.drop("d", axis = 0)

        abc       def       hgı       klm
a  0.199532  1.280248  1.334732  2.560497
b -0.772868  0.654252  0.891360  1.308504
c  0.126738 -0.350373 -1.373666 -0.700745

In [25]:
newDataFrame   #gordugumuz gibi tekrardan cagırınca silinmemis hali cagrıldı!

        abc       def       hgı       klm
a  0.199532  1.280248  1.334732  2.560497
b -0.772868  0.654252  0.891360  1.308504
c  0.126738 -0.350373 -1.373666 -0.700745
d  0.157937  0.734906 -1.866962  1.469811

In [26]:
newDataFrame.drop("klm", axis = 1, inplace = True)

In [28]:
newDataFrame   #inplace = True yaparak kalıcı olarak silebiliriz

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [31]:
newDataFrame.loc["a"]["def"]

np.float64(1.2802484715964937)

In [32]:
newDataFrame.loc["a", "def"]

np.float64(1.2802484715964937)

In [33]:
newDataFrame

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [35]:
booleanFrame = newDataFrame < 0

In [36]:
booleanFrame

     abc    def    hgı
a  False  False  False
b   True  False  False
c  False   True   True
d  False  False   True

In [37]:
newDataFrame

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [38]:
newDataFrame[booleanFrame]   #sadece 0'dan kucuk olan degerleri verir

        abc       def       hgı
a       NaN       NaN       NaN
b -0.772868       NaN       NaN
c       NaN -0.350373 -1.373666
d       NaN       NaN -1.866962

In [39]:
newDataFrame[newDataFrame < 0]

        abc       def       hgı
a       NaN       NaN       NaN
b -0.772868       NaN       NaN
c       NaN -0.350373 -1.373666
d       NaN       NaN -1.866962

In [42]:
newDataFrame[newDataFrame["def"] > 0]   #'def' kolonunda 0'dn büyük degerleri getirir, c kolonuun cıkardı

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
d  0.157937  0.734906 -1.866962

In [43]:
newDataFrame[newDataFrame["hgı"] < 0]

        abc       def       hgı
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

# Change Index

In [44]:
newDataFrame

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [45]:
newDataFrame.reset_index()

  index       abc       def       hgı
0     a  0.199532  1.280248  1.334732
1     b -0.772868  0.654252  0.891360
2     c  0.126738 -0.350373 -1.373666
3     d  0.157937  0.734906 -1.866962

In [47]:
newDataFrame #eski haline döndü

        abc       def       hgı
a  0.199532  1.280248  1.334732
b -0.772868  0.654252  0.891360
c  0.126738 -0.350373 -1.373666
d  0.157937  0.734906 -1.866962

In [48]:
newIndexList = ["ali", "burak", "caner", "deniz"]

In [49]:
newDataFrame["New Index"] = newIndexList

In [50]:
newDataFrame

        abc       def       hgı New Index
a  0.199532  1.280248  1.334732       ali
b -0.772868  0.654252  0.891360     burak
c  0.126738 -0.350373 -1.373666     caner
d  0.157937  0.734906 -1.866962     deniz

In [51]:
newDataFrame.set_index("New Index")

                abc       def       hgı
New Index
ali        0.199532  1.280248  1.334732
burak     -0.772868  0.654252  0.891360
caner      0.126738 -0.350373 -1.373666
deniz      0.157937  0.734906 -1.866962

In [52]:
newDataFrame  #

        abc       def       hgı New Index
a  0.199532  1.280248  1.334732       ali
b -0.772868  0.654252  0.891360     burak
c  0.126738 -0.350373 -1.373666     caner
d  0.157937  0.734906 -1.866962     deniz

In [53]:
newDataFrame.set_index("New Index", inplace = True)

In [57]:
newDataFrame    #eski haline dönmeyecek, inplace kullandık

                abc       def       hgı
New Index
ali        0.199532  1.280248  1.334732
burak     -0.772868  0.654252  0.891360
caner      0.126738 -0.350373 -1.373666
deniz      0.157937  0.734906 -1.866962

In [56]:
newDataFrame.loc["ali"]

abc    0.199532
def    1.280248
hgı    1.334732
Name: ali, dtype: float64

# Multi Index

In [58]:
first_ındex = ["Simpson", "Simpson", "Simpson", "South Park", "South Park", "South Park"]

In [59]:
second_ındex = ["Homer", "Bart", "Marge", "Cartmen", "Kenny", "Kyle"]

In [60]:
merge_ındex = list(zip(first_ındex, second_ındex))

In [61]:
merge_ındex

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartmen'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [62]:
merge_ındex = pd.MultiIndex.from_tuples(merge_ındex)

In [63]:
merge_ındex

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartmen'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [64]:
my_cartoon_list = [[40, "A"],[10, "B"], [30, "C"], [12, "D"], [32, "E"], [23, "F"]]

In [65]:
cartoon_numpy_array = np.array(my_cartoon_list)

In [66]:
cartoon_dataframe = pd.DataFrame(cartoon_numpy_array, index = merge_ındex, columns = ["Yas", "Meslek"])

In [67]:
cartoon_dataframe

                   Yas Meslek
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartmen  12      D
           Kenny    32      E
           Kyle     23      F

In [68]:
cartoon_dataframe.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   10      B
Marge  30      C

In [69]:
cartoon_dataframe.loc["South Park"]

        Yas Meslek
Cartmen  12      D
Kenny    32      E
Kyle     23      F

In [70]:
cartoon_dataframe.loc["South Park"].loc["Kenny"]

Yas       32
Meslek     E
Name: Kenny, dtype: object

In [71]:
cartoon_dataframe.index.names = ["Movie Name", "Name"]

In [72]:
cartoon_dataframe

                   Yas Meslek
Movie Name Name
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartmen  12      D
           Kenny    32      E
           Kyle     23      F